h3{
    margin: 0 0 1.5em;
    padding: 0.8em;
    font-size: 1.143em;
    font-weight: bold;
    border-top: 1px dashed #aaa;
    border-bottom: 1px dashed #aaa;
    background: #eee;
    text-shadow: 1px 1px 0 rgba(255,255,255,1);
    box-shadow: 0 5px 4px -4px rgba(0,0,0,0.3) inset;
    -moz-box-shadow: 0 5px 4px -4px rgba(0,0,0,0.3) inset;
    -webkit-box-shadow: 0 5px 4px -4px rgba(0,0,0,0.3) inset;
    -o-box-shadow: 0 5px 4px -4px rgba(0,0,0,0.3) inset;
    -ms-box-shadow: 0 5px 4px -4px rgba(0,0,0,0.3) inset;
}

body{
	font-family : "HiraKakuProN-W6", "\30D2\30E9\30AE\30CE\89D2\30B4 ProN W6",  Meiryo, "\30E1\30A4\30EA\30AA", sans-serif;
}
