<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gfx Mods:gfx</key>
	<dict>
		<key>Reticle:reticle</key>
		<dict>
			<key>HUD Type:hud</key>
			<string></string>
			<key>Circle Type 1:circle1</key>
			<string></string>
			<key>Circle Type 2:circle2</key>
			<string></string>
			<key>Circle Type 3:circle3</key>
			<string></string>
			<key>Square Type 1:square1</key>
			<string></string>
			<key>Square Type 1 (Sniper):square1_sniper</key>
			<string></string>
			<key>Square Type 2:square2</key>
			<string></string>
			<key>Square Type 2 (Sniper):square2_sniper</key>
			<string></string>
			<key>Square Type 3:square3</key>
			<string></string>
			<key>Square Type 3 (Sniper):square3_sniper</key>
			<string></string>
			<key>BF4 Modern Tank:bf4_modern_tank</key>
			<string></string>
			<key>PC Sight:pcsight</key>
			<string></string>
			<key>AuC GunSight:auc_gunsight</key>
			<string></string>
			<key>No HUD:no_hud</key>
			<string></string>
			<key>kAEdE Type 1:kaede1</key>
			<string></string>
			<key>kAEdE Type 2:kaede2</key>
			<string></string>
		</dict>
		<key>Tank Skin:tank</key>
		<dict>
			<key>Transparent Camouflage:camouflage</key>
			<string></string>
		</dict>
		<key>Minimap:minimap</key>
		<dict>
			<key>Visible Range (Middle Tier):visiblerange_middle</key>
			<string></string>
			<key>Visible Range (High Tier):visiblerange_high</key>
			<string></string>
			<key>NeXT VisibleRange (Middle Tier):next_visiblerange_middle</key>
			<string></string>
			<key>NeXT VisibleRange (High Tier):next_visiblerange_high</key>
			<string></string>
			<key>Color Minimap:color_minimap</key>
			<string></string>
		</dict>
		<key>Hangar Skin:hangar</key>
		<dict>
			<key>Gfx Mod Pack Hangar Skin:modpack</key>
			<string></string>
		</dict>
		<key>Tier Icon / Vehicle Icon:icon</key>
		<dict>
			<key>Colored Tier Icon:color_tier</key>
			<string></string>
			<key>Colored and Numeric Tier Icon:color_numeric_tier</key>
			<string></string>
			<key>Colored and Numeric Tier Icon (Skull):color_numeric_tier_skull</key>
			<string></string>
			<key>Colored Vehicle Icon:color_vehicle</key>
			<string></string>
		</dict>
		<key>Drive Arrow:drive_arrow</key>
		<dict>
			<key>Transparent Rate 50%:transparent50</key>
			<string></string>
			<key>Transparent Rate 75%:transparent75</key>
			<string></string>
			<key>Transparent Rate 100%:transparent100</key>
			<string></string>
		</dict>
		<key>Tracer:tracer</key>
		<dict>
			<key>Gfx Mod Pack Ballistic Skin:modpack</key>
			<string></string>
			<key>Lazer Black:lazer_black</key>
			<string></string>
			<key>Lazer Blue:lazer_blue</key>
			<string></string>
			<key>Lazer Green:lazer_green</key>
			<string></string>
			<key>Lazer Orange:lazer_orange</key>
			<string></string>
			<key>Lazer Pink:lazer_pink</key>
			<string></string>
			<key>Lazer Potato:lazer_potato</key>
			<string></string>
			<key>Lazer Purple:lazer_purple</key>
			<string></string>
			<key>Lazer Rainbow1:lazer_rainbow1</key>
			<string></string>
			<key>Lazer Rainbow2:lazer_rainbow2</key>
			<string></string>
			<key>Lazer Red:lazer_red</key>
			<string></string>
			<key>Lazer White:lazer_white</key>
			<string></string>
			<key>Lazer Yellow:lazer_yellow</key>
			<string></string>
		</dict>
		<key>Sixth Sense:sixth</key>
		<dict>
			<key>Eva Type:eva</key>
			<string></string>
		</dict>
		<key>Others:others</key>
		<dict>
			<key>Enemy Shelling Direction Marker:damage_direction</key>
			<string></string>
			<key>Enemy Direction Marker:enemy_direction</key>
			<string></string>
			<key>Old Type Joystick:old_joystick</key>
			<string></string>
			<key>Flat UI Buttons:flat_button</key>
			<string></string>
			<key>Colored Ammunition:color_ammo</key>
			<string></string>
			<key>Circle type loading gauge:circle_loading</key>
			<string></string>
		</dict>
	</dict>
	<key>Sfx Mods:sfx</key>
	<dict>
		<key>Gun Sound:gun</key>
		<dict>
			<key>Sfx Mod Pack Gun Sound:modpack</key>
			<string></string>
			<key>War Thunder Gun Sound:warthunder</key>
			<string></string>
		</dict>
		<key>Hit Sound:hit</key>
		<dict>
			<key>Sfx Mod Pack Hit Sound:modpack</key>
			<string></string>
		</dict>
		<key>Engine Sound:engine</key>
		<dict>
			<key>Sfx Mod Pack Engine Sound:modpack</key>
			<string></string>
		</dict>
		<key>Sound Effect:effect</key>
		<dict>
			<key>Sfx Mod Pack Sound Effect:modpack</key>
			<string></string>
			<key>Hangar Environmental Sound:hangar</key>
			<string></string>
			<key>Lightweight Environmental Sound:lightweight</key>
			<string></string>
		</dict>
		<key>Voice (Japanese environment):voice</key>
		<dict>
			<key>Sfx Mod Pack Voice:modpack</key>
			<string></string>
			<key>Miho Voice:miho</key>
			<string></string>
			<key>Yukari Voice:yukari</key>
			<string></string>
			<key>Saori Voice:saori</key>
			<string></string>
			<key>Hana Voice:hana</key>
			<string></string>
			<key>Mako Voice:mako</key>
			<string></string>
			<key>Nonna Voice:nonna</key>
			<string></string>
			<key>Katyusha Voice:katyusha</key>
			<string></string>
			<key>Nonna and Katyusha Voice:nonna_katyusha</key>
			<string></string>
			<key>Maho Voice:maho</key>
			<string></string>
			<key>Ahirusan Team Voice:ahirusan</key>
			<string></string>
			<key>Nishi Voice:nishi</key>
			<string></string>
			<key>Nishi Voice (Modified):nishi_modified</key>
			<string></string>
			<key>Kabasan Team Voice:kabasan</key>
			<string></string>
			<key>Keizoku Voice:keizoku</key>
			<string></string>
			<key>Pravda Voice (CV Tetsuo):pravda_tetsuo</key>
			<string></string>
			<key>E401 Voice:e401</key>
			<string></string>
			<key>Mikakunin De Sinkoukei Voice:mikakunin</key>
			<string></string>
			<key>Yuru Yuri Voice:yuruyuri</key>
			<string></string>
			<key>War Thunder Voice:warthunder</key>
			<string></string>
		</dict>
		<key>Spot Timer:spot_timer</key>
		<dict>
			<key>Keizoku Spot Timer:keizoku</key>
			<string></string>
			<key>E401 Spot Timer:e401</key>
			<string></string>
			<key>Bell Angel Spot Timer:bell_angel</key>
			<string></string>
			<key>Inori Minase Spot Timer:inori_minase</key>
			<string></string>
		</dict>
		<key>BGM:bgm</key>
		<dict>
			<key>Sfx Mod Pack BGM:modpack</key>
			<string></string>
			<key>GuP Movie BGM:gup_movie</key>
			<string></string>
			<key>Blue Steel BGM:blue_steel</key>
			<string></string>
			<key>Sakkijarven polkka Garage BGM:sakkijarven_polkka</key>
			<string></string>
			<key>Sakkijarven polkka (Remix) Garage BGM:sakkijarven_polkka_remix</key>
			<string></string>
		</dict>
		<key>Loading Completion Sound:loaded</key>
		<dict>
			<key>Sound Type 1:sound1</key>
			<string></string>
			<key>Sound Type 2:sound2</key>
			<string></string>
			<key>Sound Type 3:sound3</key>
			<string></string>
			<key>Sound Type 4:sound4</key>
			<string></string>
			<key>Sound Type 5:sound5</key>
			<string></string>
			<key>Sound Type 6:sound6</key>
			<string></string>
			<key>Sound Type 7:sound7</key>
			<string></string>
			<key>Sound Type 8:sound8</key>
			<string></string>
			<key>Sound Type 9:sound9</key>
			<string></string>
			<key>Sound Type 10:sound10</key>
			<string></string>
			<key>Sound and Voice (Japanese):sound_voice_ja</key>
			<string></string>
			<key>Sound and Voice (English):sound_voice_en</key>
			<string></string>
			<key>Sound and Voice (Russian):sound_voice_ru</key>
			<string></string>
			<key>Sound and Voice (German):sound_voice_de</key>
			<string></string>
			<key>Voice (Japanese):voice_ja</key>
			<string></string>
			<key>Voice (English):voice_en</key>
			<string></string>
			<key>Voice (Russian):voice_ru</key>
			<string></string>
			<key>Voice (German):voice_de</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
